/* TagForm.css */

.tag-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-transform: capitalize;
}

.tag-form {
  display: flex;
}

.tag-form input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.tag-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.tag-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tag-item span {
  margin-right: 5px;
}

.tag-item button {
  padding: 5px 10px;
  background-color: #ff5555;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-dialog {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.confirm-dialog p {
  margin-bottom: 10px;
}

.confirm-dialog button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #ff5555;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Additional CSS for the laptop layout */
@media (min-width: 1024px) {
  .tag-list {
    flex-wrap: nowrap;
  }
  
  .tag-item {
    margin-right: 10px;
  }
}
